div.dokuwiki div.dokumicrobugtracker_full {
  background-color: __light__;
  font-size: 10px;
  height: 12px;
  border-right: 1px solid __dark__;
}

div.dokuwiki fieldset.dokumicrobugtracker {
  width: 90%;
  margin-bottom: 1.5em;
}

div.dokuwiki fieldset.dokumicrobugtracker table thead td{
		font-weight:bold;
		cursor:pointer;
}